:root {
    --vp-c-brand: #ffdf2b;
    --vp-c-brand-light: #ffdf2b;
    --vp-button-brand-border: #09264d;
    --vp-button-brand-hover-bg: #09264d;
    --vp-button-brand-hover-border: #ffdf2b;
    --vp-button-brand-active-bg: #09264d;
    --vp-button-brand-active-border: #09264d;
}
